# General macOS files
.DS_Store
.AppleDouble
._*
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Thumbnail cache files
Icon?
ehthumbs.db
Thumbs.db

# Zipped files
*.zip

# Season Archive Source
assets/season_archive_tool/*.html